
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>

<h3>Kitaplık</h3>
<button class="btn btn-info">Yeni Kitap</button>
<table class="table table-hover">
    <tr>
        <th>No</th>
        <th>Id</th>
        <th>Kitap Başlığı</th>
        <th>ISBN</th>
        <th>Yayın Tarihi</th>
        <th>Fiyat</th>
        <th>Durum</th>
        <th>Silme</th>
        <th>Güncelleme</th>
        <th>İşlem</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>

            
